body {
font-family: 'Times New Roman', Times, serif; 
}

header {
	background:linear-gradient(#fae1e1, #bbbbbb);
	padding: 0px 0px;
}

.caixa {
	position: rlative;
	width: 840px;
	margin: 0px;
}

nav {
	position: absolute;
	top: 70px;
	left: 10px;
}

nav li {
	display: inline;
	margin: 0px 0px 0px 20px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

nav a:hover {
	color: #c0f309;
	text-decoration: underline;
}

.estudos {
	width: 840px;
	margin: 0 auto;
	padding: 50px 0;
}




.menu {
	float: left;
	width: 20%;
	text-align: center;
  }
  
  .menu a {
	background-color: #bbbbbb;
	padding: 8px;
	margin-top: 7px;
	display: block;
	width: 40%;
	color: black;
	display: inline-listitem;
	  text-align: center;
	  width: 100%;
	  margin: 0 1.5%;
	  padding: 5px 5px;
	  box-sizing: border-box;
	  border: 2px solid #000000;
	  border-radius: 10px;
  }
  
  .main {
	float: left;
	width: 60%;
	padding: 0 20px;
  }
  
  .right {
	background-color: #e5e5e5;
	float: left;
	width: 20%;
	padding: 15px;
	margin-top: 7px;
	text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
	/* For mobile phones: */
	.menu, .main, .right {
	  width: 100%;
	}
  }






/*caia dos tópicos*/
.estudos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.estudos li:hover {
	border-color: #70f106;
}

.estudos li:active {
	border-color: #088C19;	
}

.estudos li:hover h2 {
	font-size: 36px;
}

.estudos h2 {
	font-size: 30px;
	font-weight: bold;
}

.estudos-descricao {
	font-size: 18px;

}

.estudos-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: left;
	background:linear-gradient(#470404, #0a0000); 
	padding: 10px 0px;
}

.copyright {
	color: #FFFFFF;
	font-size: 10px;
	margin: 10px 5 0;
}



form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 10px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css da página inicial */
/* tamanho da imagem banner */
.banner {
	width:30%;
}
 
.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}


/* teto abaixo do banner */
.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 840px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.conceitos {
	padding: 3em 0;
	background: #888888;
}

.conteudo-conceitos {
	width: 640px;
	margin: 0 auto;
}

.lista-conceitos {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-conceitos {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-coneitos:hover {
	opacity: 0.3;
}

.video {
	width: 10px;
	margin: 2em auto;
}